/* Задача 231 */
.block_231_1{
    display: grid;
    grid-template: 1fr 2fr / 0.5fr 1fr 1fr 2fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
    height: 200px;
}
.block_231_1 > .child_231_1{
    padding: 10px;
    border: 1px solid #696989;
}
.block_231_2{
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr 1fr 2fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
    height: 200px;
}
.block_231_2 > .child_231_2{
    padding: 10px;
    border: 1px solid #696989;
}
.block_231_3{
    display: grid;
    grid-template: 1fr 1fr 2fr 4fr / 0.5fr 1.5fr 3fr;
    border: 2px solid #696989;
    padding: 10px;
    width: 600px;
    height: 200px;
}
.block_231_3 > .child_231_3{
    padding: 10px;
    border: 1px solid #696989;
}