/* Задача 92 */
#elem_92{
    border-width: 3px;
	border-style: solid;
	border-color: blue;
	width: 300px;
	height: 100px;
}
/* Задача 93 */
#elem_93{
    border-width: 3px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 100px;
}
/* Задача 94 */
#elem_94{
    border-width: 3px;
	border-style: dotted;
	border-color: orange;
	width: 300px;
	height: 100px;
}
/* Задача 95 */
#elem_95{
    border-width: 5px;
	border-style: double;
	border-color: blue  ;
	width: 200px;
	height: 100px;
}
/* Задача 96 */
#elem_96_1{
    border: 3px solid red;
    height: 100px;
    width: 300px;
    margin-bottom: 10px;
}
#elem_96_2{
    border: 2px solid blue;
    border-style: dotted;
    height: 100px;
    width: 300px;
}
#elem_96_3{
    border: 3px solid green;
    border-style: dotted;
    height: 100px;
    width: 300px;
}
#elem_96_4{
    border: 5px solid orange;
    border-style: double;
    height: 100px;
    width: 300px;
}
/* Задача 97 */
#elem_97_1{
    width: 300px;
	height: 100px;
	border-left: 1px solid orange;
	border-right: 1px solid green;
    border-top: 1px solid blue;
}
#elem_97_2{
    width: 300px;
	height: 100px;
	border-left: 2px solid red;
	border-right: 1px solid green;
    border-right-style: dotted;
    border-top: 1px solid blue;
}
/* Задача 99 */
#elem_99{
    width: 100px;
	height: 150px;
	border: 2px solid green;
	border-radius: 10px;
}
/* Задача 100 */
#elem_100{
    border-radius: 20px;
	width: 300px;
	height: 100px;
	background-color: #12d054;
}
/* Задача 101 */
#elem_101{
    width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 1px solid green;
}
/* Задача 103 */
#elem_103{
    width: 150px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 20px 30px 50px;
}
/* Задача 104 */
#elem_104{
    width: 150px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 10px 30px;
}
/* Задача 105 */
#elem_105{
    width: 150px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 20px 30px;
}
/* Задача 107 */
#elem_107{
    width: 100px;
	height: 100px;
	border: 1px solid green;
	border-radius: 50%;
}
/* Задача 108 */
/* body{
	background-image: url(/img/bg.png);
} */
/* Задача 109_1 */
/* #elem_109_1{
    width: 200px;
	height: 500px;
	background-image: url(/img/bg.png);
} */
/* Задача 109_2 */
#elem_109_2{
    width: 100%;
	height: 70px;
	background-image: url(/img/bg.png);
	margin-bottom: 100px;
}
/* Задача 110*/
#elem_110_1 {
	background-position: top right;
	background-image: url(/img/bg.png);
	background-repeat: no-repeat;
	width: 400px;
	height: 300px;
	border: 1px solid black;
}
#elem_110_2 {
	background-size: 400px;
	background-repeat: no-repeat;
	background-image: url(/img/bg.png);
	border: 1px solid black;
	width: 400px;
	height: 400px;
}
#elem_110_3 {
	width: 400px;
	height: 200px;
	margin: 0 auto;
	text-align: justify;
	font-weight: bold;
	font-size: 20px;
	background-attachment: scroll;
	background-image: url(/img/bg.png);
}
/* Задача 112 */
.ul_112{
	list-style-type: square;
}
/* Задача 113 */
.ul_113{
	list-style-type: circle;
}
/* Задача 114 */
.ul_114{
	list-style-type: disc;
}
/* Задача 115 */
.ul_115{
	list-style-type: none;
}
/* Задача 117 */
.ol_117{
	list-style-type: lower-roman;
}
/* Задача 118 */
.ol_118{
	list-style-type: upper-roman;
}
/* Задача 119 */
.ol_119{
	list-style-type: lower-alpha;
}
/* Задача 120 */
.ol_120{
	list-style-type: upper-alpha;
}
/* Задача 121 */
.ol_121{
	list-style-type: lower-greek;
}