body{
    background-color: rgb(48, 48, 53);
    margin: 0 0;
    font-family: sans-serif;
}
p, h1{
    color: white;
}
.header{
    width: 890px;
    display: flex;
    margin: 0px auto;
    background-color: rgb(244, 170, 11);
    height: 50px;
}
.menu{
    min-height: 50px;
    align-items: center;
    display: flex;
    margin-left: 20px;
}
.active{
    padding: 40px 15px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 6  00;
}
.active_child{
    text-decoration: underline;
}
.active:hover{
    text-decoration: underline;
}
.vnesh_main_saider{
    display: flex;
    background-color: rgb(31, 31, 31);
    width: 890px;
    margin: 0 auto;
}
.main{
    width: fit-content;
    margin: 0 15px;
}
table{
    width: 100%;
}
table,td{
    color: white;
    border: 1px solid white;
}
th{
    background-color: rgb(63, 63, 63);
}
.aside{
    width: fit-content;
    margin-right: 15px;
}
.footer{
    background-color: rgb(244, 170, 11);
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    width: 890px;
    margin: 0 auto;
}
.footer > p{
    margin: 0 auto;
}