.block_201{
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: justify;
}
.child_201{
    float: right;
    width: 130px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid green;
}
/* Задача 202 */
.block_202{
    padding: 20px;
    border: 1px solid black;
    height: 90px;

}
.child_202{
    float: left;
    width: 100px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid green;
}
.child_202_2{
    float: right;
    width: 100px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid green;
}
/* Задача 203 */
.block_203{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child_203{
    width: 120px;
    height: 60px;
    border: 1px solid green;
}
/* Задача 204 */
.block_204{
    display: flex;
    flex-direction: row-reverse;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child_204{
    width: 120px;
    height: 60px;
    border: 1px solid green;
}