/* Задача 174 */
.block_174_1{
    border: 1px solid red;
    position: absolute;
    left: 50px;
}
.block_174_2{
    border: 1px solid blue;
    position: absolute;
    top: 120px;
    left: 120px;
}
.block_174_3{
    border: 1px solid green;
    position: absolute;
    top: 190px;
    left: 190px;
}
.block_174_1, .block_174_2, .block_174_3{
    height: 50px;
    width: 50px;
}
/* Задача 174_2 */
.block_174_4{
    border: 1px solid red;
    position: absolute;
    left: 50px;
}
.block_174_5{
    border: 1px solid blue;
    position: absolute;
    left: 120px;
}
.block_174_6{
    border: 1px solid green;
    position: absolute;
    left: 190px;
}
.block_174_4, .block_174_5, .block_174_6{
    height: 50px;
    width: 50px;
}
/* Задача 174_3 */
.block_174_7{
    border: 1px solid red;
    position: absolute;
    top: 450px;
    left: 110px;
}
.block_174_8{
    border: 1px solid blue;
    position: absolute;
    top: 480px;
    left: 150px;
}
.block_174_9{
    border: 1px solid green;
    position: absolute;
    top: 500px;
    left: 190px;
}
.block_174_7, .block_174_8, .block_174_9{
    height: 50px;
    width: 50px;
}
/* Задача 174_3 */
.block_174_10{
    background-color: red;
    position: absolute;
    top: 580px;
    left: 110px;
}
.block_174_11{
    background-color: blue;
    position: absolute;
    top: 620px;
    left: 150px;
}
.block_174_12{
    background-color: green;
    position: absolute;
    top: 650px;
    left: 190px;
}
.block_174_10, .block_174_11, .block_174_12{
    height: 50px;
    width: 50px;
}
/* Задача 176 */
.block_176_1{
    border: 1px solid green;
    position: relative;
    width: 700px;
    height: 200px;
}
.child_176_1{
    border: 1px solid red;
    position: absolute;
    top: 50px;
    left: 150px;

    width: 100px;
    height: 75px;
}
.block_176_2{
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #4DEE99;
}
.child_176_2{
    background-color: black;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
}
.child_176_2_2{
    background-color: black;
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}
/* Задача 176_3 */
.block_176_3{
    position: relative;
    width: 200px;
    height: 430px;
    margin: 0 auto;
    border: 1px solid black;
}
.child_176_3{
    border: 1px solid black;
    background-color: red;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.child_176_3_2{
    background-color: yellow;
    border: 1px solid black;
    position: absolute;
    left: 50px;
    top: 160px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.child_176_3_3{
    border: 1px solid black;
    background-color: green;
    position: absolute;
    left: 50px;
    top: 270px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
/* Задача 176_4 */
.block_176_4{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #4DEE99;
    border-radius: 250px;
}
.child_176_4{
    background-color: #fff;
    position: absolute;
    left: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.child_176_4_2{
    background-color: #fff;
    position: absolute;
    right: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.child_176_4_3{
    background-color: #fff;
    position: absolute;
    left: 215px;
    top: 200px;
    width: 70px;
    height: 70px;
}
.child_176_4_4{
    background-color: #fff;
    position: absolute;
    left: 150px;
    top: 350px;
    width: 200px;
    height: 20px;
}
/* Задача 176_5 */
.block_176_5{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #C4CD14;
    border-radius: 200px;
}
.child_176_5{
    background-color: #fff;
    position: absolute;
    left: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 3;
}
.child_176_5_2{
    background-color: #fff;
    position: absolute;
    right: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 3;
}
.child_176_5_3{
    background-color: #fff;
    position: absolute;
    left: 165px;
    top: 200px;
    width: 70px;
    height: 70px;
    z-index: 3;
    border-radius: 35px;
}
.child_176_5_4{
    background-color: #fff;
    position: absolute;
    left: 100px;
    top: 155px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    z-index: 1;
}
.child_176_5_5{
    background-color: #C4CD14;
    position: absolute;
    left: 50px;
    top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    z-index: 2;
}
/* Задача 179 */
/* .block_179{
    position: absolute;
	top:    100px;
	right:  100px;
	bottom: 100px;
	left:   100px;
	
	border: 1px solid green;
}
.block_179_2{
    position: absolute;
	top:    100px;
	right:  200px;
	bottom: 50px;
	left:   10px;
	
	border: 1px solid green;
} */
/* Задача 180 */
.block_180{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid green;
}
.child_180{
    position: absolute;
    left: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}
.child_180_2{
    position: absolute;
    right: -50px;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid red;
}