body{
    background-color: rgb(226, 226, 226);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Задача 61 */
.eee .bbb {
	color: red;
}
/* Задача 61_2 */
.eee h2 {
	color: red;
}
/* Задача 61_3*/
.eee h2.bbb {
	color: red;
}
/* Задача 61_4 */
/* .eee h3.bbb {
	color: red;
} */
/* Задача 61_5 */
/* .eee p.bbb {
	color: red;
} */
/* Задача 61_6 */
.eee .bbb .kkk {
	color: red;
}
/* Задача 62_1 */
/* p.bbb {
	color: red;
} */
/* Задача 62_2 */
/* p .bbb {
	color: red;
} */
/* Задача 62_3 */
/* .eee p.bbb {
	color: red;
} */
/* Задача 62_4 */
/* .eee p .bbb {
	color: red;
} */
/* Задача 63_1 */
.success {
	color: green;
    font-size: larger;
}
.error {
	color: red;
    font-size: small;
}
.large {
	font-size: large;
    color: red;
}
.small {
	font-size: small;
    color: green;
}
/* Задача 63_2 */
.poco{
    color: green;
}
.galaxy{
    font-size: 19px;
}
.apple{
    font-style: oblique;
}
#elem1{
    color: red;
}
#elem2{
    color: green;
}
#elem3{
    color: aqua;
}
#block{
	color: red;
}
.text{
	color: green;
}
/* Задача 66_1 */
/* #elem h2{
	color: red;
} */
/* Задача 66_2 */
/* #elem .text{
color: red;
} */
/* Задача 66_3 */
#elem .text{
	color: red;
}
/* Задача 67 */
.eee.zzz.ccc{
	color: red;
}
/* Задача 70_1 */
#block h1, #block h2{
	text-align: center;
}
/* Задача 70_2 */
#block h1, #block h2{
	text-align: center;
}
#block h1 {
	font-size: 30px;
}
#block h2 {
	font-size: 20px;
}