body{
    background-color: rgb(226, 226, 226);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Задача 61 */
.eee .bbb {
	color: red;
}
/* Задача 61_2 */
/* .eee h2 {
	color: red;
} */
/* Задача 61_3*/
.eee h2.bbb {
	color: red;
}
/* Задача 61_4 */
/* .eee h3.bbb {
	color: red;
} */
/* Задача 61_5 */
/* .eee p.bbb {
	color: red;
} */
/* Задача 61_6 */
.eee .bbb .kkk {
	color: red;
}
/* Задача 62_1 */
/* p.bbb {
	color: red;
} */
/* Задача 62_2 */
/* p .bbb {
	color: red;
} */
/* Задача 62_3 */
/* .eee p.bbb {
	color: red;
} */
/* Задача 62_4 */
/* .eee p .bbb {
	color: red;
} */
/* Задача 63_1 */
.success {
	color: green;
    font-size: larger;
}
.error {
	color: red;
    font-size: small;
}
.large {
	font-size: large;
    color: red;
}
.small {
	font-size: small;
    color: green;
}
/* Задача 63_2 */
.poco{
    color: green;
}
.galaxy{
    font-size: 19px;
}
.apple{
    font-style: oblique;
}
#elem1{
    color: red;
}
#elem2{
    color: green;
}
#elem3{
    color: aqua;
}
/* #block{
	color: red;
} */
.text{
	color: green;
}
/* Задача 66_1 */
/* #elem h2{
	color: red;
} */
/* Задача 66_2 */
/* #elem .text{
color: red;
} */
/* Задача 66_3 */
#elem .text{
	color: red;
}
/* Задача 67 */
.eee.zzz.ccc{
	color: red;
}
/* Задача 70_1 */
/* #block h1, #block h2{
	text-align: center;
} */
/* Задача 70_2 */
/* #block h1, #block h2{
	text-align: center;
} */
/* #block h1 {
	font-size: 30px;
} */
/* #block h2 {
	font-size: 20px;
} */
/* Задача 71_1 */
/* #block h1, #block h2, #block h3{
	text-align: center;
} */
/* #block h2{
	color: blue;
} */
/* #block h3{
	color: red;
	font-size: 16px;
} */
/* Задача 71_2*/
/* #block h1.eee {
	font-size: 30px;
} */
/* #block h2.zzz {
	font-size: 20px;
} */
/* #block h1.eeeб, #block h2.zzz{
	text-align: center;
} */
/* Задача 71_3 */
/* .xxx .kkk, .eee h2.zzz, #eee h2 {
	text-align: center;
} */
/* Задача 71_4 */
/* .eee h2.zzzб .xxx {
	text-align: center;
} */
/* Задача 72_1 */
/* .div_72_1 p{
	color: red;
} */
/* Задача 72_2 */
/* .div_72_2 h2{
	color: red;
} */
/* Задача 72_3 */
/* #block h2{
	font-size: 50px;
} */
/* Задача 72_4 */
/* #block h2{
	color: red;
} */
/* Задача 72_5 */
/* .bbb{
	color: red;
} */
/* Задача 72_6 */
/* #block .bbb{
	color: red;
} */
/* Задача 72_7 */
/* p.bbb {
	color: red;
} */
/* Задача 72_8 */
/* h2.bbb{
	color: red;
} */
 /* Задача 72_9 */
/* #block p.bbb{
	color: red;
} */
 /* Задача 72_10 */
/* .bbb, .xxx {
	color: red;
} */
 /* Задача 72_11 */
/* p.bbb, h2.xxx{
	color: red;
} */
/* Задача 72_12 */
/* #block p.bbb, #block p.xxx{
	color: red;
} */
/* Задача 72_13 */
/* .fff{
	color: red;
} */
/* Задача 72_14 */
/* p.fff{
	color: red;
} */
 /* Задача 72_15 */
/* p.fff{
	color: red;
} */
/* Задача 72_16 */
/* .fff .bbb{
	color: red;
} */
/* Задача 72_17 */
/* .fff h2.bbb{
	color: red;
} */
/* Задача 77_1 */
/* #elem + li{
	color: red;
} */
/* Задача 77_2 */
/* .elem + li{
	color: red;
} */
/* Задача 78 */
/* #elem ~ li{
	color: red;
} */
/* Задача 79 */
/* main * p{
	color: red;	
} */
