/* Задача 25 */
p{ 
    color: red;
}
/* Задача 26 */
h1{
    color: rgb(26, 228, 60);
}
h2{
    color: aqua;
}
h3{
    color: red;
}
p{
    color: orange;
}
li{
    color: #b617b6;
}
/* Задача 28_1 */
td {
    width: 300px;
}
/* Задача 28_2 */
.table_2{
    width: 400px;
    height: 300px;
}
