/* Задача 25 */
p{ 
    color: red;
}
/* Задача 26 */
h1{
    color: rgb(26, 228, 60);
}
h2{
    color: aqua;
}
h3{
    color: red;
}
p{
    color: orange;
}
li{
    color: #b617b6;
}
/* Задача 28_1 */
td {
    width: 300px;
}
/* Задача 28_2 */
.table_2{
    width: 400px;
    height: 300px;
}
/* Задача 30 */
.p_30{
    text-align: right;
}
/* Задача 31 */
.p_31{
    text-align: center;
}
/* Задача 32 */
th {
    text-align: left;
}

table {
    width: 400px;
}
/* Задача 33 */
.p_33{
    text-align: justify;
	width: 300px;
}
