/* Задача 92 */
#elem_92{
    border-width: 3px;
	border-style: solid;
	border-color: blue;
	width: 300px;
	height: 100px;
}
/* Задача 93 */
#elem_93{
    border-width: 3px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 100px;
}
/* Задача 94 */
#elem_94{
    border-width: 3px;
	border-style: dotted;
	border-color: orange;
	width: 300px;
	height: 100px;
}
/* Задача 95 */
#elem_95{
    border-width: 5px;
	border-style: double;
	border-color: blue  ;
	width: 2git00px;
	height: 100px;
}